<!-- Admin's page navbar -->
<app-admin-header></app-admin-header>

<!-- Orders list. -->
<div class="container">
  <!-- Getting each record with a loop. -->
  <div class="card shopping-cart" *ngFor="let order of orders; index as i">
    <!-- Header. -->
    <div class="card-header bg-dark text-light font-weight-light">
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      Order №{{order[0].OrderID}}.
      <i class="fa fa-user" aria-hidden="true"></i> {{order[0].Name}} {{order[0].Surname}},
      <i class="fa fa-envelope" aria-hidden="true"></i> {{order[0].Email}},
      <i class="fa fa-phone" aria-hidden="true"></i> {{order[0].CountryCode}}{{order[0].PhoneNumber}}.
      <div class="clearfix"></div>
    </div>
    <!-- Orders part. -->
    <div class="card-body" *ngFor="let book of order">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-responsive" src={{book.BookCover}} alt="prewiew" width="50" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>{{book.BookTitle}} <span style="font-weight: normal;">by</span>
              {{book.BookAuthor}}</strong></h4>
          <h4>
            <small>ISBN: {{book.ISBN}}</small>
          </h4>
          <h4>
            <small>Genre: {{book.BookGenre}}</small>
          </h4>
          <h4>
            <small>Year of publication: {{book.PublicationYear}}</small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px; margin-left: 134px;">
            <h6><strong>${{book.Price}} <span class="text-muted">x</span></strong> {{book.Quantity}}</h6>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <!-- Footer. -->
    <div class="card-footer">
      <div class="pull-left" style="margin: 10px">
        <div class="pull-left" style="margin: 5px;">
          <span class="result">Total price: <b>${{order[0].TotalPrice}}</b></span>
          <span class="result">Date: <b>{{order[0].OrderDate.replace("T", " ").slice(0, -8)}}</b></span>
          <span class="result">Status: <b>{{order[0].OrderStatus}}</b></span>
        </div>
      </div>
      <!-- Buttons for data processing. -->
      <div class="pull-right" style="margin: 10px" *ngIf="order[0].OrderStatus == 'expected'">
        <div class="pull-right " style="margin: 5px;">
          <a class="status confirm" title="Confirm" (click)="confirmOrder(order[0].OrderID);">Confirm order <i
              class="fa fa-thumbs-up"></i></a>
          <a class="status reject" title="Reject" (click)="rejectOrder(order[0].OrderID);">Reject order <i
              class="fa fa-thumbs-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
