<!-- Admin's navbar. -->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark nav-bk8">
    <img src="assets/img/logo.png" alt="logo" class="navbar-brand logo">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-light" [ngClass]="{'active': (active == 'admins')}" routerLink="/admin/admins"
          (click)="setActiveLink('admins')">Admins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-light" [ngClass]="{'active': (active == 'customers')}"
          routerLink="/admin/customers" (click)="setActiveLink('customers')">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-light" [ngClass]="{'active': (active == 'countries')}"
          routerLink="/admin/countries" (click)="setActiveLink('countries')">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-light" [ngClass]="{'active': (active == 'book-genres')}"
          routerLink="/admin/book-genres" (click)="setActiveLink('book-genres')">Book genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-light" [ngClass]="{'active': (active == 'books')}" routerLink="/admin/books"
          (click)="setActiveLink('books')">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-light" [ngClass]="{'active': (active == 'orders')}" routerLink="/admin/orders"
          (click)="setActiveLink('orders')">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-light" routerLink="/sign-in" (click)="signOut(); setActiveLink('admins');">Sign
          out</a>
      </li>
    </ul>
  </nav>
</header>
