/*
Mykyta Chernenky
200367631
CS 476 - Software Development
uBooks

[Home] Sign Up Page - CSS
 */
body {
  color: #999;
  font-family: 'Roboto', sans-serif;
}

.form-control,
.form-control:focus,
.input-group-addon {
  border-color: #e1e1e1;
  border-radius: 0;
}

.signup-form {
  width: 390px;
  margin: 0 auto;
  padding: 61px 0;
}

.signup-form h2 {
  color: #585858;
  margin: 0 0 20px;
  text-align: center;
}

.signup-form .lead {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

.signup-form form {
  border-radius: 1px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form label {
  font-weight: normal;
  font-size: 13px;
}

.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 5px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  border-radius: 3px;
  border: none;
  min-width: 140px;
  outline: none !important;
}

.signup-form .btn:focus {
  border-color: inherit;
  box-shadow: none;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
  background: linear-gradient(to left, #fc4a1a, #f0cb35);
}

.signup-form a {
  text-decoration: none;
}

.signup-form a:hover {
  text-decoration: underline;
}

.signup-form .fa {
  font-size: 21px;
  padding-top: 9px;
}

.signup-form .fa-paper-plane {
  font-size: 17px;
}

.signup-form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}


.text-center a {
  font-weight: bold;
  color: #ff9900;
  transition-duration: 0.7s;
}

.text-center a:hover {
  color: #fc211a;
}

.fa-envelope:before,
.fa-users:before {
  margin-left: -7px;
}

.fa-globe:before {
  margin-left: -5px;
}

.custom-select {
  margin-left: 3px;
}

.form-check-label {
  font-size: 1rem !important;
  padding: .375rem 1.75rem 0.375rem .75rem;
  color: #495057;
}

.fa-handshake-o:before {
  margin-left: -10px;
  margin-right: 20px;
}

.form-check-inline {
  margin-bottom: 17px;
}

.fa-id-card:before {
  margin-left: -10px;
  margin-right: 22px;
}

.move-right {
  padding-right: 42px;
}

.validation {
  color:red;
}
