<!-- Sign-Up page. -->
<div class="bg">
  <div class="signup-form">
    <form autocomplete="off" (ngSubmit)="createCustomer();" name="create-form">
      <h2>Create Account</h2>
      <!-- Name and surname fields of the form. -->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" [(ngModel)]="data.Name" name="username" placeholder="Your name"
            required="required">
            </div>
          <input type="text" class="form-control" [(ngModel)]="data.Surname" style="margin-left: 10px;"
            name="usersurname" placeholder="Your surname" required="required">
        </div>
        <div *ngIf="incorrectName == true"
         class="alert alert-danger validation">
          *Please enter your name
        </div>
      <!-- Select country. -->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-globe"></i></span>
          <select class="custom-select" [(ngModel)]="data.CountryID" name="selectedCountry">
            <option selected disabled value="none">Select country...</option>
            <option *ngFor="let country of countries" value={{country.CountryID}}>{{country.CountryName}}
              ({{country.CountryCode}})</option>
          </select>
        </div>
        <div *ngIf="incorrectCountry == true"
        class="alert alert-danger validation">
         *Please select country
       </div>
      </div>

      <!-- Phone number field of the form. -->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <input type="phonenumber" class="form-control" [(ngModel)]="data.PhoneNumber" name="phonenumber"
            placeholder="Phone Number" required="required">
        </div>
      </div>
      <div *ngIf="incorrectPhoneNumber == true"
      class="alert alert-danger validation">
       *Please enter correct phone number
     </div>
      <!-- Email field of the form. -->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" [(ngModel)]="data.Email" name="email" placeholder="Email Address"
            required="required">
        </div>
      </div>
      <div *ngIf="incorrectEmail == true"
      class="alert alert-danger validation">
       *Please enter correct email address
     </div>
      <!-- Password field of the form. -->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" [(ngModel)]="data.Password" name="password" placeholder="Password"
            required="required">
        </div>
      </div>
      <div *ngIf="incorrectPassword == true"
      class="alert alert-danger validation">
       *Password must contain at least 1 upperscase letter, 1 number and be at least 8 characters long
     </div>
      <!-- Sign-up button of the form. -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
      </div>
      <!-- Link to the sign-in form. -->
      <div class="text-center">Already have an account? <a routerLink="/sign-in">Sign in here</a>.</div>
    </form>
  </div>
</div>
