/* 
Mykyta Chernenky
200367631
CS 476 - Software Development
uBooks

Countries Table -  TypeScript
*/

.table-dark {
  color: #fff;
  background: linear-gradient(to top, #ff7b00, #ffc145);
  width: 500px;
  margin: 5px auto 70px auto;
}

.table-title,
.add-form,
.update-form {
  margin: 70px auto 0 auto;
}

.add-form,
.update-form {
  width: 550px;
}

.table-title {
  width: 500px;
}

thead {
  background: #ff9900;
}

.table td,
.table th {
  border: none;
  text-align: center;
}

h2 {
  font-weight: 200;
  color: rgb(60, 60, 60);
}

.add-new {
  background-color: rgb(251, 116, 24);
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 2px;
  border: none;
  font-weight: 200;
}

.add-new:hover,
.add-new:focus,
.reset:hover,
.reset:focus,
.reset1:hover,
.reset1:focus,
button[type="submit"]:hover,
button[type="submit"]:focus {
  border-color: inherit;
  box-shadow: none;
  background-color: #ff4800 !important;
}

.col-sm-4 {
  padding-right: 0;
  padding-left: 0;
}

.fa-pencil,
.fa-trash {
  margin: 0 15px 0 15px;
}

.fa-trash:hover {
  color: red;
}

.fa-pencil:hover {
  color: yellow;
}

.reset,
button[type="submit"] {
  width: 49%;
}

.reset {
  margin-left: 8px;
  background-color: rgb(251, 116, 24);
  border: none;
}

button[type="submit"] {
  background-color: #ffc82e;
  border: none;
}

.reset1 {
  width: 100%;
  margin-left: 0;
  background-color: rgb(251, 116, 24);
  border: none;
}
