html {
   background: linear-gradient(to right, #fc4a1a, #f7b733) !important;
}

body {
  color: #999;
  font-family: 'Roboto', sans-serif;
}

.form-control,
.form-control:focus,
.input-group-addon {
  border-color: #e1e1e1;
  border-radius: 0;
}

.signin-form {
  width: 390px;
  margin: 0 auto;
  padding: 150px 0;
}

.signin-form h2 {
  color: #585858;
  margin: 0 0 15px;
  text-align: center;
}

.signin-form .lead {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

.signin-form form {
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signin-form .form-group {
  margin-bottom: 20px;
}

.signin-form label {
  font-weight: normal;
  font-size: 13px;
}

.signin-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.signin-form .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 5px;
}

.signin-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  border-radius: 3px;
  border: none;
  min-width: 140px;
  outline: none !important;
}

.signin-form .btn:focus {
  border-color: inherit;
  box-shadow: none;
}

.signin-form .btn:hover,
.signin-form .btn:focus {
  background: linear-gradient(to left, #fc4a1a, #f0cb35);
}

.signin-form a {
  text-decoration: none;
}

.signin-form a:hover {
  text-decoration: underline;
}

.signin-form .fa {
  font-size: 21px;
  padding-top: 9px;
}

.signin-form .fa-paper-plane {
  font-size: 17px;
}

.signin-form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.bg {
  background: linear-gradient(to right, #fc4a1a, #f7b733) !important;
  width: 100%;
  height: 803px;
}

.text-center a {
  font-weight: bold;
  color: #ff9900;
  transition-duration: 0.7s;
}

.text-center a:hover {
  color: #fc211a;
}
